body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;
}
header img {
  margin-right: 15px;
}
header h3, header p {
  margin: 0;
}

.content h1 {
  margin: 0;
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;
}
.search-block .clear {
  position: absolute;
  right: 15px;
  width: 19px;
  height: 19px;
  top: 13px;
}
.search-block input {
  border: 0;
  padding: 13px;
  font-size: 16px;
  width: 200px;
}

.items {
  flex: 1;
}

.cartTotalBlock ul {
  margin-bottom: 40px !important;
}
.cartTotalBlock ul li {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.cartTotalBlock ul li div {
  flex: 1;
  height: 1px;
  border-bottom: 1px dashed #dfdfdf;
  position: relative;
  top: -4px;
  margin: 0 7px;
}
.cartTotalBlock .greenButton {
  position: relative;
  overflow: hidden;
}
.cartTotalBlock .greenButton:disabled {
  animation: button-loading 0.8s ease-in-out infinite;
}
.cartTotalBlock .greenButton:hover img {
  transform: translateX(100px);
}
.cartTotalBlock .greenButton img {
  position: absolute;
  right: 30px;
  top: 20px;
  transition: transform 0.2s ease-in-out;
}
.cartTotalBlock .greenButton {
  width: 100%;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  border: 0;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.cartTotalBlock .greenButton:disabled {
  background-color: #bebebe;
  cursor: default !important;
}
.cartTotalBlock .greenButton:hover {
  background: #a9da6c;
}
.cartTotalBlock .greenButton:active {
  background: #91d044;
}

.cartEmpty {
  text-align: center;
}
.cartEmpty p {
  width: 280px;
  line-height: 24px;
}
.cartEmpty .greenButton {
  width: 245px;
  margin-top: 20px;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  border: 0;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.cartEmpty .greenButton:hover img {
  transform: rotate(180deg) translate(3px);
}
.cartEmpty .greenButton img {
  position: relative;
  top: 1px;
  transform: rotate(180deg);
  margin-right: 15px;
  transition: transform 0.15s ease-in-out;
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}
.cartItem .cartItemImg {
  height: 70px;
  width: 70px;
  background-size: contain;
  background-position: 0 -3px;
  background-repeat: no-repeat;
  margin-right: 20px;
}
.cartItem p {
  font-size: 16px;
  margin: 0;
}
.cartItem b {
  font-size: 13px;
}
.cartItem .removeBtn {
  opacity: 0.5;
  transition: opacity 0.1s ease-in-out;
  cursor: pointer;
}
.cartItem .removeBtn:hover {
  opacity: 1;
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */